<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Shapes</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>ANIMATED SVG SHAPES</h1>
            <div class="selection">
                <label for="shape">Select shape type</label>
                <select name="shape" id="shape" v-model="type">
                        <option value="polygon">Polygon</option>
                        <option value="circle"> Circle</option>
                        <option value="ellipsis">Ellipsis</option>
                </select>
                <label for="shape">Select shape type</label>
                <input type="number" placeholder="number of sides" v-if='type==="polygon"' v-model="sides">
                <input type="number" placeholder="radius" v-if='type==="circle"' v-model="radius">
                <input type="number" placeholder="radius x" v-if='type==="ellipsis"' v-model="rx">
                <input type="number" placeholder="radius y" v-if='type==="ellipsis"' v-model="ry">
                <button @click='draw'>Draw</button>
            </div>
            <div class="shapes">
                <i class="fas fa-chevron-right"></i>
                <div class="shape" v-for="shape in shapes.slice().reverse()" :key="shape.key" :style="shapesTranslate">
                    <svg  version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle  :style="shape.dash"  class="draw" cx="150" cy="150" :r="shape.radius" :stroke="colors[shape.key]" fill="transparent" v-if="shape.type==='circle'"/>
                        <ellipse :style="shape.dash"  class="draw" cx="150" cy="150" :rx="shape.rx" :ry="shape.ry" :stroke="colors[shape.key]" fill="transparent" v-if="shape.type==='ellipsis'"/>
                        <polygon :style="shape.dash"  class="draw" :points="shape.points" :stroke="colors[shape.key]" fill="transparent" stroke-width="3" v-if="shape.type==='polygon'"/>
                    </svg>
                    <input type="color" class="color" v-model='colors[shape.key]'>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
    </div>
    <script src="app.js"></script>
</body>
</html>